<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <form method="post">
    <div >
    <label for="Login" class="login">Login</label>
    <div >
     <input name="login" type="text" class="form-control {% if errors.login is defined %}is-invalid{% endif %}" id="exampleInputLog" aria-describedby="logHelp">
        {% if errors.login is defined %}
        <div class="invalid-feedback">
            {{ messages.login }}
        </div>
            {% endif %}
    </div>
  </div>
  <div>
    <label for="inputPassword">Password</label>
    <div>
      <input type="password" name="password" class="form-control">
      <button type="submit" class="btn btn-dark">Login</button>
       {% if errors.password is defined %}
        <div class="invalid-feedback">
            {{ messages.password }}
        </div>
            {% endif %}
      
    </div>
  </div>
</form>
</body>
</html>