<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../private_page.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <a href="logout.php" class="logout">Logout</a>
    <h1 class="title">Hello {{ session.login }} </h1>
    </div>
</body>
</html>